<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductCodeViewDlg" widgetVar="ProductCodeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProductCodeTitle}">
            <h:form id="ProductCodeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productCodeController.selected != null}">
                        <h:outputText value="#{bundle.ViewProductCodeLabel_productCode}"/>
                        <h:outputText value="#{productCodeController.selected.productCode}" title="#{bundle.ViewProductCodeTitle_productCode}"/>
                        <h:outputText value="#{bundle.ViewProductCodeLabel_discountCode}"/>
                        <h:outputText value="#{productCodeController.selected.discountCode}" title="#{bundle.ViewProductCodeTitle_discountCode}"/>
                        <h:outputText value="#{bundle.ViewProductCodeLabel_description}"/>
                        <h:outputText value="#{productCodeController.selected.description}" title="#{bundle.ViewProductCodeTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProductCodeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
