<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListPurchaseOrderTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="PurchaseOrderListForm">
                <p:panel header="#{bundle.ListPurchaseOrderTitle}">
                    <p:dataTable id="datalist" value="#{purchaseOrderController.items}" var="item"
                                 selectionMode="single" selection="#{purchaseOrderController.selected}"
                                 paginator="true"
                                 rowKey="#{item.orderId}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPurchaseOrderTitle_orderId}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPurchaseOrderTitle_quantity}"/>
                            </f:facet>
                            <h:outputText value="#{item.quantity}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPurchaseOrderTitle_shoppingCost}"/>
                            </f:facet>
                            <h:outputText value="#{item.shoppingCost}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPurchaseOrderTitle_salesDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.salesDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPurchaseOrderTitle_shippingDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.shippingDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPurchaseOrderTitle_company}"/>
                            </f:facet>
                            <h:outputText value="#{item.company}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPurchaseOrderTitle_customerId}"/>
                            </f:facet>
                            <h:outputText value="#{item.customerId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPurchaseOrderTitle_productId}"/>
                            </f:facet>
                            <h:outputText value="#{item.productId}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{purchaseOrderController.prepareCreate}" update=":PurchaseOrderCreateForm" oncomplete="PF('PurchaseOrderCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":PurchaseOrderViewForm" oncomplete="PF('PurchaseOrderViewDialog').show()" disabled="#{empty purchaseOrderController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":PurchaseOrderEditForm" oncomplete="PF('PurchaseOrderEditDialog').show()" disabled="#{empty purchaseOrderController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{purchaseOrderController.destroy}" update=":growl,datalist" disabled="#{empty purchaseOrderController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
