<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListManufacturerTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ManufacturerListForm">
                <p:panel header="#{bundle.ListManufacturerTitle}">
                    <p:dataTable id="datalist" value="#{manufacturerController.items}" var="item"
                                 selectionMode="single" selection="#{manufacturerController.selected}"
                                 paginator="true"
                                 rowKey="#{item.manufacturerId}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListManufacturerTitle_manufacturerId}"/>
                            </f:facet>
                            <h:outputText value="#{item.manufacturerId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListManufacturerTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListManufacturerTitle_addressLine1}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressLine1}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListManufacturerTitle_addressLine2}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressLine2}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListManufacturerTitle_city}"/>
                            </f:facet>
                            <h:outputText value="#{item.city}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListManufacturerTitle_state}"/>
                            </f:facet>
                            <h:outputText value="#{item.state}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListManufacturerTitle_phone}"/>
                            </f:facet>
                            <h:outputText value="#{item.phone}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListManufacturerTitle_fax}"/>
                            </f:facet>
                            <h:outputText value="#{item.fax}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListManufacturerTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListManufacturerTitle_salesperson}"/>
                            </f:facet>
                            <h:outputText value="#{item.salesperson}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{manufacturerController.prepareCreate}" update=":ManufacturerCreateForm" oncomplete="PF('ManufacturerCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ManufacturerViewForm" oncomplete="PF('ManufacturerViewDialog').show()" disabled="#{empty manufacturerController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ManufacturerEditForm" oncomplete="PF('ManufacturerEditDialog').show()" disabled="#{empty manufacturerController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{manufacturerController.destroy}" update=":growl,datalist" disabled="#{empty manufacturerController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
