<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductCreateDlg" widgetVar="ProductCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateProductTitle}">
            <h:form id="ProductCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateProductLabel_productId}" for="productId" />
                        <p:inputText id="productId" value="#{productController.selected.productId}" title="#{bundle.CreateProductTitle_productId}" required="true" requiredMessage="#{bundle.CreateProductRequiredMessage_productId}"/>
                        <p:outputLabel value="#{bundle.CreateProductLabel_purchaseCost}" for="purchaseCost" />
                        <p:inputText id="purchaseCost" value="#{productController.selected.purchaseCost}" title="#{bundle.CreateProductTitle_purchaseCost}" />
                        <p:outputLabel value="#{bundle.CreateProductLabel_quantity}" for="quantity" />
                        <p:inputText id="quantity" value="#{productController.selected.quantity}" title="#{bundle.CreateProductTitle_quantity}" />
                        <p:outputLabel value="#{bundle.CreateProductLabel_available}" for="available" />
                        <p:inputText id="available" value="#{productController.selected.available}" title="#{bundle.CreateProductTitle_available}" />
                        <p:outputLabel value="#{bundle.CreateProductLabel_description}" for="description" />
                        <p:inputText id="description" value="#{productController.selected.description}" title="#{bundle.CreateProductTitle_description}" />
                        <p:outputLabel value="#{bundle.CreateProductLabel_manufacturerId}" for="manufacturerId" />
                        <p:selectOneMenu id="manufacturerId" value="#{productController.selected.manufacturerId}" required="true" requiredMessage="#{bundle.EditProductRequiredMessage_manufacturerId}">
                            <f:selectItems value="#{manufacturerController.itemsAvailableSelectOne}"
                                           var="manufacturerIdItem"
                                           itemValue="#{manufacturerIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateProductLabel_productCode}" for="productCode" />
                        <p:selectOneMenu id="productCode" value="#{productController.selected.productCode}" required="true" requiredMessage="#{bundle.EditProductRequiredMessage_productCode}">
                            <f:selectItems value="#{productCodeController.itemsAvailableSelectOne}"
                                           var="productCodeItem"
                                           itemValue="#{productCodeItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{productController.create}" value="#{bundle.Save}" update="display,:ProductListForm:datalist,:growl" oncomplete="handleSubmit(args,'ProductCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProductCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
