<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductViewDlg" widgetVar="ProductViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProductTitle}">
            <h:form id="ProductViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productController.selected != null}">
                        <h:outputText value="#{bundle.ViewProductLabel_productId}"/>
                        <h:outputText value="#{productController.selected.productId}" title="#{bundle.ViewProductTitle_productId}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_purchaseCost}"/>
                        <h:outputText value="#{productController.selected.purchaseCost}" title="#{bundle.ViewProductTitle_purchaseCost}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_quantity}"/>
                        <h:outputText value="#{productController.selected.quantity}" title="#{bundle.ViewProductTitle_quantity}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_available}"/>
                        <h:outputText value="#{productController.selected.available}" title="#{bundle.ViewProductTitle_available}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_description}"/>
                        <h:outputText value="#{productController.selected.description}" title="#{bundle.ViewProductTitle_description}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_manufacturerId}"/>
                        <h:outputText value="#{productController.selected.manufacturerId}" title="#{bundle.ViewProductTitle_manufacturerId}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_productCode}"/>
                        <h:outputText value="#{productController.selected.productCode}" title="#{bundle.ViewProductTitle_productCode}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProductViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
