<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CustomerCreateDlg" widgetVar="CustomerCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCustomerTitle}">
            <h:form id="CustomerCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{customerController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_customerId}" for="customerId" />
                        <p:inputText id="customerId" value="#{customerController.selected.customerId}" title="#{bundle.CreateCustomerTitle_customerId}" required="true" requiredMessage="#{bundle.CreateCustomerRequiredMessage_customerId}"/>
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_name}" for="name" />
                        <p:inputText id="name" value="#{customerController.selected.name}" title="#{bundle.CreateCustomerTitle_name}" />
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_addressLine1}" for="addressLine1" />
                        <p:inputText id="addressLine1" value="#{customerController.selected.addressLine1}" title="#{bundle.CreateCustomerTitle_addressLine1}" />
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_addressLine2}" for="addressLine2" />
                        <p:inputText id="addressLine2" value="#{customerController.selected.addressLine2}" title="#{bundle.CreateCustomerTitle_addressLine2}" />
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_city}" for="city" />
                        <p:inputText id="city" value="#{customerController.selected.city}" title="#{bundle.CreateCustomerTitle_city}" />
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_state}" for="state" />
                        <p:inputText id="state" value="#{customerController.selected.state}" title="#{bundle.CreateCustomerTitle_state}" />
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_phone}" for="phone" />
                        <p:inputText id="phone" value="#{customerController.selected.phone}" title="#{bundle.CreateCustomerTitle_phone}" />
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_email}" for="email" />
                        <p:inputText id="email" value="#{customerController.selected.email}" title="#{bundle.CreateCustomerTitle_email}" />
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_discountCode}" for="discountCode" />
                        <p:selectOneMenu id="discountCode" value="#{customerController.selected.discountCode}" required="true" requiredMessage="#{bundle.EditCustomerRequiredMessage_discountCode}">
                            <f:selectItems value="#{discountCodeController.itemsAvailableSelectOne}"
                                           var="discountCodeItem"
                                           itemValue="#{discountCodeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_zip}" for="zip" />
                        <p:selectOneMenu id="zip" value="#{customerController.selected.zip}" required="true" requiredMessage="#{bundle.EditCustomerRequiredMessage_zip}">
                            <f:selectItems value="#{microMarketController.itemsAvailableSelectOne}"
                                           var="zipItem"
                                           itemValue="#{zipItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{customerController.create}" value="#{bundle.Save}" update="display,:CustomerListForm:datalist,:growl" oncomplete="handleSubmit(args,'CustomerCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CustomerCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
