<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MicroMarketCreateDlg" widgetVar="MicroMarketCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateMicroMarketTitle}">
            <h:form id="MicroMarketCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{microMarketController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateMicroMarketLabel_zipCode}" for="zipCode" />
                        <p:inputText id="zipCode" value="#{microMarketController.selected.zipCode}" title="#{bundle.CreateMicroMarketTitle_zipCode}" required="true" requiredMessage="#{bundle.CreateMicroMarketRequiredMessage_zipCode}"/>
                        <p:outputLabel value="#{bundle.CreateMicroMarketLabel_areaLength}" for="areaLength" />
                        <p:inputText id="areaLength" value="#{microMarketController.selected.areaLength}" title="#{bundle.CreateMicroMarketTitle_areaLength}" />
                        <p:outputLabel value="#{bundle.CreateMicroMarketLabel_areaWidth}" for="areaWidth" />
                        <p:inputText id="areaWidth" value="#{microMarketController.selected.areaWidth}" title="#{bundle.CreateMicroMarketTitle_areaWidth}" />
                        <p:outputLabel value="#{bundle.CreateMicroMarketLabel_name}" for="name" />
                        <p:inputText id="name" value="#{microMarketController.selected.name}" title="#{bundle.CreateMicroMarketTitle_name}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{microMarketController.create}" value="#{bundle.Save}" update="display,:MicroMarketListForm:datalist,:growl" oncomplete="handleSubmit(args,'MicroMarketCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MicroMarketCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
